@import "tailwindcss";

@config "../../tailwind.config.js";

@theme {
  --font-sans: 'var(--font-geist-sans)', 'sans-serif';
}

html, body {
  background-color: #020617; /* slate-950 */
  color: #f8fafc; /* slate-50 */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
